{% extends "base.html" %}
{% block content %}
  
  <div style="width: 80%; margin:auto; ">
    
    {% if data %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> Title</th>
          <th scope="col">description</th>
          <th scope="col">status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          
          <td>{{item.taskTitle}} </td>
          <td>{{item.taskDescription}}</td>
          <td>{{item.is_completed}}</td>
          <td> <a href="{% url 'edit_tasks' id=item.id %}" class="btn btn-warning btn-sm">Edit</a> <a href="{% url 'delete_book' id=item.id %}" class="btn btn-danger btn-sm"> Delete</a> <a href="{% url 'completed_tasks' id=item.id %}" class="btn btn-success btn-sm"> complete </a></td>
        </tr>
        {% endfor %}
        
        
      </tbody>
    </table>
    {% else %}
    <h3>oops! no data available</h3>
    {% endif %}
  </div>
{% endblock content %}